body {
  background-color: #1a1a1a; /* Fondo oscuro */
  color: #f4f4f4; /* Texto claro */
  font-family: monospace;
  text-align: center;
  margin: 0;
  padding: 20px;
}

canvas {
  background-color: #2b2b2b; /* Fondo del área de juego */
  border: 2px solid #ffcc00; /* Borde amarillo retro */
  margin-top: 20px;
}

button {
  background-color: #ff5733; /* Naranja retro */
  color: #f4f4f4; /* Texto claro */
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Bordes redondeados */
}

button:hover {
  background-color: #c70039; /* Rojo oscuro retro */
}

.hidden {
  display: none;
}

#countdown {
  font-size: 48px;
  color: #ffcc00; /* Amarillo retro */
  margin-top: 20px;
}

#pauseMenu {
  margin-top: 20px;
}

#pauseMenu button {
  background-color: #33ff57; /* Verde retro */
  color: #1a1a1a; /* Texto oscuro */
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#pauseMenu button:hover {
  background-color: #28a745; /* Verde oscuro retro */
}

#settingsMenu {
  margin-top: 20px;
  color: #f4f4f4; /* Texto claro */
}

#settingsMenu input {
  transform: scale(1.5);
}

#gameInfo {
  text-align: center;
  margin-top: 20px;
}

#scoreDisplay {
  font-size: 24px;
  color: #ffcc00; /* Amarillo retro */
  margin-bottom: 10px;
}

#pauseButton {
  background-color: #33aaff; /* Azul retro */
  color: #1a1a1a; /* Texto oscuro */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#pauseButton:hover {
  background-color: #007bff; /* Azul oscuro retro */
}
